[submodule "motelib_flooding"]
	path = motelib_flooding
	url = https://github.com/iPAS/motelib_flooding.git
[submodule "tools/log_serial/dropbox_uploader"]
	path = tools/log_serial/dropbox_uploader
	url = https://github.com/andreafabrizi/Dropbox-Uploader.git
